# Recycle Bin used on file shares
$RECYCLE.BIN/


### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

### Gradle ###
# Exclude Folder List #
.gradle/
build/


# Locally stored "Eclipse launch configurations"
*.launch
# CDT-specific
.cproject
# PDT-specific
.buildpath

### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

/bin
/.pnp
.pnp.js
/shop-frontend/node_modules/
/shop-frontend/node_modules/**
*.pem
*.pub
